.modal {
 	display: none; 
 	position: fixed; 
  	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/*----------------Sign In and Log In modals-------------------*/

.sign {
	height: auto;
	width: 350px;
	background-color: #c7f1ed;
	margin: auto;
	border-radius: 8px;
	animation-name: animatetop;
	animation-duration: 0.8s;
	position: relative;
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.signtop {
	margin: 0;
	height: 15%;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
}

.signtop h2 {
	color: #327792;
	padding-top: 11px;
	padding-bottom: 10px;
	margin: 0px;
	text-align: center;
	border-radius: 8px 8px 0px 0px;
}

.sign form {
	box-sizing: border-box;
	height: 84%;
	padding-left: 20px;
	text-align: left;
	padding-bottom: 10px;
}

.sign h3 {
	margin: 0;
	padding-top: 20px;
	color: #327792;
}

.sign input {
	border-radius: 5px;
	height: 30px;
	width: 90%;
	border: 3px solid #ccc;
	outline: none;
	padding-left: 10px;
	transition: 1.5s;
}

.sign input:focus, .sign input:hover {
	border: 3px solid black;
}

.sign button {
	margin-top: 40px;
	border-radius: 5px;
	border: none;
	color: #327792;
	height: 40px;
	width: 80px;
	transition: 1.5s;
	font-weight: bold;
	outline: none;
}

.sign button:hover {
	background-color: #6bc5e7;
	color: black;
	cursor: pointer;
}

/* The Close Button */
.close {
	float: right;
	margin-top: 43px;
	margin-right: 18px;
	color: #327792;
	font-size: 35px;
	font-weight: bold;
	transition: 1s;
	outline: none;
}

.close:hover {
	color: black;
	cursor: pointer;
}

/*----------------Sign In and Log In modals end---------------*/
/*----------------Change Profile Image modal------------------*/

.modalImg {
	height: auto;
	width:350px;
	background-color: white;
	margin: auto;
	border-radius: 8px;
	animation-name: animatetop;
	animation-duration: 0.8s;
	position: relative;
}

.modalImg h2 {
	text-align: center;
	padding: 15px 0px 15px 0px;
	margin: 0px 0px 0px 0px;
}

.currImg {
	width: 100%;
	height: auto;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 0px 15px 0px;
}

.currImg img {
	width: 50%;
	padding: 15px 0px 15px 0px;
}

/* The Close Button */
#imgClsBt {
	float: right;
	margin-top: 43px;
	margin-right: 18px;
	color: #327792;
	font-size: 35px;
	font-weight: bold;
	transition: 1s;
	outline: none;
}

#imgClsBt:hover {
	color: black;
	cursor: pointer;
}


/*----------------Change Profile Image modal end--------------*/
/*----------------Create task modal---------------------------*/

.modalTop {
	color: #327792;
	margin: auto;
	width: 300px;
	height: auto;
	border-radius: 8px;
	background-color: #cdf7ae;
	animation-name: animatetop;
	animation-duration: 0.8s;
	position: relative;
}

.modalTop h2 {
	margin: 0px;
	width: 100%;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.modalTop form {
	padding-left: 20px;
}

.modalTop h3 {
	margin: 0;
	padding-top: 20px;
}

.modalTop input {
	border-radius: 5px;
	height: 30px;
	width: 90%;
	border: 3px solid #ccc;
	outline: none;
	padding-left: 10px;
	transition: border-color 1.5s;
}

#time {
	display: block;
	transition: display 1s;
}

#radSpe, #radAll {
	height: 15px;
	width: 10%;
	margin-top: 10px;
	vertical-align: bottom;
	display: inline-block;
}

#radSpe:hover, #radAll:hover {
	cursor: pointer;
}

textarea {
	border-radius: 5px;
	height: 200px;
	width: 91%;
	border: 3px solid #ccc;
	transition: border-color 1.5s;
}

.modalTop input:hover, .modalTop input:focus, textarea:hover, textarea:focus {
	border-color: black;
}

.modalTop button {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	color: #327792;
	height: 40px;
	width: 80px;
	transition: 1.5s;
	font-weight: bold;
	outline: none;
}

.modalTop button:hover {
	background-color: #6bc5e7;
	color: black;
	cursor: pointer;
}

.modalTop form span {
	float: right;
	margin-top: 15px;
	margin-right: 18px;
	color: #327792;
	font-size: 35px;
	font-weight: bold;
	transition: 1s;
}

.modalTop form span:hover {
	color: black;
	cursor: pointer;
}

/*-------------Create task modal end-----------------*/
/*-------------Edit task modal-----------------------*/

.modalEdit {
	color: #327792;
	margin: auto;
	width: 300px;
	height: auto;
	border-radius: 8px;
	background-color: #ffffa6;
	animation-name: animatetop;
	animation-duration: 0.8s;
	position: relative;
}

.modalEdit h2 {
	margin: 0px;
	width: 100%;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.modalEdit form {
	padding-left: 20px;
}

.modalEdit h3 {
	margin: 0;
	padding-top: 20px;
}

.modalEdit input {
	border-radius: 5px;
	height: 30px;
	width: 90%;
	border: 3px solid #ccc;
	outline: none;
	padding-left: 10px;
	transition: border-color 1.5s;
}

.modalEdit input:hover, .modalEdit input:focus {
	border-color: black;
}

#edTime {
	display: block;
	transition: display 1s;
}

#edRadSpe, #edRadAll {
	height: 15px;
	width: 10%;
	margin-top: 10px;
	vertical-align: bottom;
	display: inline-block;
}

#edRadSpe:hover, #edRadAll:hover {
	cursor: pointer;
}

.modalEdit button {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	color: #327792;
	height: 40px;
	width: 80px;
	transition: 1.5s;
	font-weight: bold;
	outline: none;
}

.modalEdit button:hover {
	background-color: #6bc5e7;
	color: black;
	cursor: pointer;
}

.modalEdit form span {
	float: right;
	margin-top: 15px;
	margin-right: 18px;
	color: #327792;
	font-size: 35px;
	font-weight: bold;
	transition: 1s;
}

.modalEdit form span:hover {
	color: black;
	cursor: pointer;
}
/*-------------Edit task modal end-------------------*/
/*-------------Share task with modal-----------------*/

.modalSh {
	color: #327792;
	margin: auto;
	width: 300px;
	height: auto;
	border-radius: 8px;
	background-color: #ceffce;
	animation-name: animatetop;
	animation-duration: 0.8s;
	position: relative;
}

.modalSh h2 {
	margin: 0px;
	width: 100%;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.modalSh form {
	padding-left: 20px;
}

.modalSh h3 {
	margin: 0;
	padding-top: 20px;
}

.modalSh input {
	border-radius: 5px;
	height: 30px;
	width: 90%;
	border: 3px solid #ccc;
	outline: none;
	padding-left: 10px;
	transition: border-color 1.5s;
}

.modalSh input:hover, .modalSh input:focus {
	border-color: black;
}

.modalSh button {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	color: #327792;
	height: 40px;
	width: 80px;
	transition: 1.5s;
	font-weight: bold;
	outline: none;
}

.modalSh button:hover {
	background-color: #6bc5e7;
	color: black;
	cursor: pointer;
}

.modalSh form span {
	float: right;
	margin-top: 15px;
	margin-right: 18px;
	color: #327792;
	font-size: 35px;
	font-weight: bold;
	transition: 1s;
}

.modalSh form span:hover {
	color: black;
	cursor: pointer;
}

/*-------------Share task with modal end-------------*/

