body {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*-----------------header-----------------------*/

header {
	height: 80px;
	width: 100%;
	background-color: #fff;
	color: #327792;
}

.nav {
	text-align: center;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	width: 49%;
}

header h1 {
	display: inline-block;
}

a, a:visited, a:active {
	transition: color 1s;
	text-decoration: none;
	color: #328d92;
}

a:hover {
	color: black;
}

.admin {
	height: 100%;
	width: 49%;
	display: inline-block;
	text-align: center;
}

.admin h3 {
	display: inline-block;
	margin: 35px 25px 0 0;
	transition: color 1s;
}

.admin h3:hover {
	cursor: pointer;
	color: black;
}

#he_name {
	color: #fb4f6c;
	padding-left: 45px;
	display: inline-block;
}

#b, #b:visited, #b:active{
	transition: color 1s;
	border: 0px;
	background-color: white;
	text-decoration: none;
	color: #328d92;
	outline: none;
}

#b:hover {
	cursor: pointer;
	color: black;
}

/*-----------------end header-----------------*/
/*-----------------messages-------------------*/

.error {
	width: 80%;
	margin: auto;
	background-color: #ff8080;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 20px;
}

.good {
	background-color: #82ff82;
}

.error h1 {
	margin: 0px;
}

/*-----------------messages end----------------*/

/*-----------------main------------------------*/
/*-----------------events actions*/

.evsacts {
	margin: auto;
	width: 80%;
	text-align: center;
	color: #fb4f6c;
	border-bottom: 5px solid #b2b2b2;
}

.evsacts h3 {
	transition: color 0.5s;
	margin-right: 25px;
	display: inline-block;
}

.evsacts h3:hover {
	cursor: pointer;
	color: black;
}

.evsacts h3 a {
	transition: color 0.5s;
	color: inherit;
}

.evsacts h3 a:hover {
	color: black;
}

#sear {
	margin-left: 75px;
	display: inline-block;
}

#sear h3 {
	margin-right: 10px;
}

.evsacts form {
	display: inline-block;
}

/*-------------events actions end*/


main {
	border-top: 5px solid #b2b2b2;
	border-bottom: 1px solid black;
	padding: 25px 0px 20px 0px; 
	width: 100%;
	text-align: center;
}

.main {
	border: 5px solid #b2b2b2;
	margin: auto;
	padding: 10px 0px 10px 0px;
	border-radius:15px;
	width: 70%;
	background-color: #dff7f4;
	margin-bottom: 15px;
}

.otherColor {
	background-color: #ceffce;
}

.pic {
	float: left;
	width: 49%;
	height: 300px;
	display: inline-block;
}

.pic img, .pic2 img {
	height: inherit;
	vertical-align: middle;
}

.points {
	height: 300px;
	color: #dff7f4;
	display: inline-block;
	width: 49%;
	text-align: left;
}

li h2 {
	margin-right: 5px;
	color: inherit;
	animation: mypoint 2s;
	animation-fill-mode: forwards;
	display: inline-block;
}

.points ul li:nth-child(1) h2 {
	animation-delay: 1s;
}

.points ul li:nth-child(2) h2 {
	animation-delay: 2s;
}

.points ul li:nth-child(3) h2 {
	animation-delay: 3s;
}

.points ul li:nth-child(4) h2 {
	animation-delay: 4s;
}

@keyframes mypoint {
	0% {color: inherit;}
	100% {color: #327792;}
}

.pic2 {
	float: right;
	width: 49%;
	height: 300px;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 5px;
}

#ul {
	text-align: right;
	color: #ceffce;
}

.tick {
	font-size:35px;
	font-weight: bold;
	color: inherit;
	animation: mytick 2s;
	animation-fill-mode: forwards;
}

.points ul li:nth-child(1) span {
	animation-delay: 5s;
}

.points ul li:nth-child(2) span {
	animation-delay: 6s;
}

.points ul li:nth-child(3) span {
	animation-delay: 7s;
}

.points ul li:nth-child(4) span {
	animation-delay: 8s;
}

@keyframes mytick {
	0% {color: inherit;}
	100% {color: black;}
}

/*--------------Each Event-----------------*/

.event {
	color: #327792;
	box-sizing: border-box;
	background-color: #dff7f4;
	display: inline-block;
	width: 270px;
	height: 350px;
	word-wrap: break-word;
	overflow: auto;
	border: 5px solid #b2b2b2;
	border-radius: 15px;
	transition: border-color 1s, color 1s;
}

.event:hover {
	border-color: black;
	color: black;
}

.evName {
	margin: 0px;
	background-color: white;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 0px 10px 0px;
}

.evDate {
	width: 100%;
	height: 10%;
	border-bottom: 1px solid black;
}

.evDetails {
	width: 100%;
	height: 50%;
	border-bottom: 1px solid black;
}

.event form {
	display: inline-block;
}

.evButton {
	border-radius: 5px;
	border: none;
	padding: 7px;
	color: inherit;
	background-color: #e6e6e6;
	margin-right: 2px;
	margin-left: 2px;
	font-size: 15px;
	font-weight: bold;
	transition: background-color 1s;
}

.evButton:hover {
	background-color: #6bc5e7;
}

/*--------------Each Event end-------------*/

/*-----------------main end---------------*/

/*-----------------footer---------------------*/

footer {
	margin: 0px;
	height: 124px;
	width: 100%;
	background-color: #c9c9c9;
	text-align: center;
	padding: 15px 0px 15px 0px;
}

footer h2 {
	color: #8c8c8c;
	margin: 0px;
}

/*-----------------footer end-----------------*/

