body, html {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*-----------------header-----------------------*/

header {
	height: auto;
	width: 100%;
	background-color: #fff;
	color: #327792;
}

.nav {
	text-align: center;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	width: 49%;
}

header h1 {
	display: inline-block;
}

a, a:visited, a:active {
	transition: color 1s;
	text-decoration: none;
	color: #328d92;
}

a:hover {
	color: black;
}

.admin {
	width: 49%;
	display: inline-block;
	text-align: center;
}

.admin h3 {
	display: inline-block;
	margin: 35px 25px 0 0;
	transition: color 1s;
}

#he_name {
	color: grey;
	padding-left: 45px;
	display: inline-block;
}

.nav img {
	margin-top: 15px;
	width: 7%;
	height: auto;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.nav img:hover {
	cursor: pointer;
}

#today {
	display: inline-block;
}

#today h3 {
	margin-bottom: 5px;
}

#currDate {
	font-weight: bold;
}

.admin h3:hover {
	cursor: pointer;
	color: black;
}

#b, #b:visited, #b:active {
	transition: color 1s;
	border: 0px;
	background-color: white;
	text-decoration: none;
	color: #328d92;
	outline: none;
}

#b:hover {
	cursor: pointer;
	color: black;
}

@media(max-width: 425px) {
	.nav img {
		width: 15%;
	}
}

@media(max-width: 980px) {
	#today {
		width: 100%;
		margin-top: 15px;
	}
	.nav img {
		margin-right: 0px;
	}
}

@media(min-width: 1440px) {
	.admin form {
		margin-top: 10px;
	}
}

@media(min-width: 2560px) {
	.admin form {
		margin-top: 32px;
	}
}

/*-----------------end header-----------------*/
/*-----------------messages-------------------*/

.error {
	width: 80%;
	margin: auto;
	background-color: #ff8080;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 20px;
}

.good {
	background-color: #bdf5af;
}

.error h1 {
	margin: 0px;
}

/*-----------------messages end----------------*/

/*-----------------main------------------------*/
/*-----------------events actions*/

.evsacts {
	margin: auto;
	width: 80%;
	text-align: center;
	color: #fb4f6c;
	border-bottom: 5px solid #b2b2b2;
}

.evsacts h3 {
	transition: color 0.5s;
	margin-right: 25px;
	display: inline-block;
}

.evsacts h3:hover {
	cursor: pointer;
	color: black;
}

.evsacts h3 a {
	transition: color 0.5s;
	color: inherit;
}

.evsacts h3 a:hover {
	color: black;
}

#sear {
	margin-left: 60px;
	display: inline-block;
}

#sear h3 {
	margin-right: 0px;
}

.evsacts form {
	display: inline-block;
}

#sear form input {
	border-radius: 5px;
	height: 20px;
	width: 60%;
	border: 3px solid #ccc;
	outline: none;
	padding-left: 10px;
	transition: border-color 1.5s;
}

#sear form input:hover, #sear form input:focus {
	border-color: black;
}

#sear form button {
	float: right;
	border-radius: 5px;
	border: none;
	color: #327792;
	height: 28px;
	width: 75px;
	transition: 1.5s;
	font-weight: bold;
	outline: none;
}

#sear form button:hover {
	background-color: #6bc5e7;
	color: black;
	cursor: pointer;
}

/*-------------events actions end*/


main {
	border-top: 5px solid #b2b2b2;
	border-bottom: 5px solid #b2b2b2;
	padding: 25px 0px 20px 0px; 
	width: 100%;
	min-height: 600px;
	text-align: center;
}

.main {
	border: 5px solid #b2b2b2;
	margin: auto;
	padding: 10px 0px 10px 0px;
	border-radius:15px;
	width: 70%;
	background-color: #dff7f4;
	margin-bottom: 15px;
}

.otherColor {
	background-color: #ceffce;
}

.pic {
	float: left;
	width: 49%;
	height: 300px;
	display: inline-block;
}

.pic img, .pic2 img {
	height: inherit;
	vertical-align: middle;
}

.points {
	height: 300px;
	color: #dff7f4;
	display: inline-block;
	width: 49%;
	text-align: left;
}

li h2 {
	margin-right: 5px;
	color: inherit;
	animation: mypoint 2s;
	animation-fill-mode: forwards;
	display: inline-block;
}

.points ul li:nth-child(1) h2 {
	animation-delay: 1s;
}

.points ul li:nth-child(2) h2 {
	animation-delay: 2s;
}

.points ul li:nth-child(3) h2 {
	animation-delay: 3s;
}

.points ul li:nth-child(4) h2 {
	animation-delay: 4s;
}

@keyframes mypoint {
	0% {color: inherit;}
	100% {color: #327792;}
}

.pic2 {
	float: right;
	width: 49%;
	height: 300px;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 5px;
}

#ul {
	text-align: right;
	color: #ceffce;
}

.tick {
	font-size:35px;
	font-weight: bold;
	color: inherit;
	animation: mytick 2s;
	animation-fill-mode: forwards;
}

.points ul li:nth-child(1) span {
	animation-delay: 5s;
}

.points ul li:nth-child(2) span {
	animation-delay: 6s;
}

.points ul li:nth-child(3) span {
	animation-delay: 7s;
}

.points ul li:nth-child(4) span {
	animation-delay: 8s;
}

@keyframes mytick {
	0% {color: inherit;}
	100% {color: black;}
}



/*--------------Each Event-----------------*/

.event {
	color: #327792;
	box-sizing: border-box;
	background-color: #dff7f4;
	display: inline-block;
	width: 270px;
	height: 350px;
	word-wrap: break-word;
	border: 5px solid #b2b2b2;
	border-radius: 15px;
	transition: border-color 1s, color 1s;
	overflow: auto;
}

.event:nth-child(even) {
	background-color: #ceffce;
}

.event:hover {
	border-color: black;
	color: black;
}

.evName {
	margin: 0px;
	background-color: white;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 0px 10px 0px;
}

.evDate {
	width: 100%;
	height: 10%;
	border-bottom: 1px solid black;
}

.evDetails {
	width: 100%;
	min-height: 50%;
	height: auto;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

.event form {
	display: inline-block;
}

.evButton {
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	padding: 7px;
	color: inherit;
	background-color: #e6e6e6;
	margin-right: 2px;
	margin-left: 2px;
	font-size: 15px;
	font-weight: bold;
	transition: background-color 1s;
	outline: none;
}

.evButton:hover {
	background-color: #6bc5e7;
	cursor: pointer;
}

/*--------------Each Event end-------------*/

/*-----------------main end---------------*/

/*-----------------footer---------------------*/

footer {
	margin: 0px;
	height: auto;
	width: 100%;
	background-color: #c9c9c9;
	text-align: center;
	padding: 15px 0px 15px 0px;
}

footer h2 {
	color: #8c8c8c;
	margin: 0px;
}

.footerL {
	width: 49%;
	display: inline-block;
	text-align: right;
	padding-right: 40px;
	box-sizing: border-box;
}

.footerR {
	width: 49%;
	display: inline-block;
	text-align: left;
	padding-left: 40px;
	box-sizing: border-box;
}

.footerL h3 a, .footerR h3 a {
	color: #8c8c8c;
	transition: color 0.5s;
	text-decoration: none;
}

.footerL h3 a:hover, footerR h3 a:hover {
	color: black;
	cursor: pointer;
}

/*-----------------footer end-----------------*/
/*media query for mobile devices below laptop screen sizes*/
@media (max-width: 799px) {
	main {
		padding-top: 5px;
	}
	
	.nav {
		width: 100%;
	}
	
	#he_name {
		width: 100%;
		margin: auto;
		padding: 0px;
	}
	
	.nav img {
		margin-left: 0px;
		margin-top: 15px;
	}
	
	#b h3 {
		margin: auto;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	
	.admin {
		width: 100%;
		padding-bottom: 15px;
	}
	
	.admin h3 {
		margin-top: 10px;
	}
	
	.error {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	
	.pic {
		display: block;
		width: 100%;
		margin: auto;
	}
	
	 .main:not(.otherColor) {
		height: 575px;
	}
	
	.otherColor {
		display: none;
	}
	
	.points {
		float: right;
		display: block;
		width: 100%;
		margin: auto;
	}
	
	.points ul {
		text-align: center;
	}
	
	.evsacts h3 {
		width: 100%;
		margin: 10px 0px 10px 0px;
		text-align: center;
	}
	
	#sear {
		width: 100%;
		margin: 0px 0px 10px 0px;
	}
	
	.footerL {
		text-align: center;
		width: 100%;
		padding-right: 0px;
	}
	
	.footerR {
		display: none;
	}
}

@media (max-width: 375px) {
	.main {
		width: 90%;
	}
}
/*End of media queries for screen sizes below laptops*/
