body {
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	height: auto;
	width: 100%;
	background-color: grey;
}

header h1 {
	display: inline-block;
}

header h3 {
	display: inline-block;
	margin-left: 10px;
}

header h3:hover {
	color: red;
	cursor: pointer;
}

header form {
	display: inline-block;
}

main {
	height: auto;
	width: 100%;
	background-color: yellow;
	text-align: center;
}

.event {
	background-color: lightblue;
	display: inline-block;
	padding: 10px 5px 10px 5px; 
	width: 200px;
	height: 250px;
	word-wrap: break-word;
	overflow: auto;
}

footer {
	height: auto;
	width: 100%;
	background-color: grey;
}

.modalTop {
	width: 350px;
	height: auto;
	background-color: red;
}

#modal {
	display: none;
}

.modalEdit {
	width: 350px;
	height: auto;
	background-color: yellow;
}

#moded {
	display: none;
}


textarea {
	height: 200px;
	width: 200px;
}