body {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*-----------------header-----------------------*/

header {
	height: 80px;
	width: 100%;
	background-color: #fff;
	color: #327792;
}

.nav {
	text-align: center;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	width: 49%;
}

header h1 {
	display: inline-block;
}

a {
	transition: color 1s;
}

a, a:visited, a:active {
	text-decoration: none;
	color: #328d92;
}

a:hover {
	color: black;
}

.admin {
	height: 100%;
	width: 49%;
	display: inline-block;
	text-align: center;
}

.admin h3 {
	display: inline-block;
	margin: 35px 25px 0 0;
	transition: color 1s;
}

.admin h3:hover {
	cursor: pointer;
	color: black;
}

/*-----------------end headder-----------------*/











main {
	height: auto;
	width: 100%;
	background-color: yellow;
	text-align: center;
}

.event {
	background-color: lightblue;
	display: inline-block;
	padding: 10px 5px 10px 5px; 
	width: 250px;
	height: 350px;
	word-wrap: break-word;
	overflow: auto;
}

.event form {
	display: inline-block;
}

footer {
	height: auto;
	width: 100%;
	background-color: grey;
}

.modalTop {
	width: 350px;
	height: auto;
	background-color: red;
}

#modal {
	display: none;
}

#modal form {
	display: inline-block;
}

.modalEdit {
	width: 350px;
	height: auto;
	background-color: yellow;
}

.modalSh {
	width: 350px;
	height: auto;
	background-color: green;
}

#share {
	display: none;
}

#moded {
	display: none;
}

#moded form {
	display: inline-block;
}

textarea {
	height: 200px;
	width: 200px;
}