body {
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	height: auto;
	width: 100%;
	background-color: grey;
}

.nav {
	display: inline-block;
	width: 48vw;
}

header h1 {
	display: inline-block;
}

a, a:visited, a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

header h3 {
	display: inline-block;
	margin-left: 10px;
}

header h3:hover {
	color: red;
	cursor: pointer;
}

.admin {
	width: 48vw;
	display: inline-block;
	text-align: right;
}

.adl {
	margin-right: 10px;
	display: inline-block;
	text-align: right;
}

.adl input {
	display: block;
}

.adr {
	margin-left: 10px;
	display: inline-block;
	text-align: right;
}

.adr input {
	display: block;
}
main {
	height: auto;
	width: 100%;
	background-color: yellow;
	text-align: center;
}

.event {
	background-color: lightblue;
	display: inline-block;
	padding: 10px 5px 10px 5px; 
	width: 250px;
	height: 350px;
	word-wrap: break-word;
	overflow: auto;
}

footer {
	height: auto;
	width: 100%;
	background-color: grey;
}

.modalTop {
	width: 350px;
	height: auto;
	background-color: red;
}

#modal {
	display: none;
}

.modalEdit {
	width: 350px;
	height: auto;
	background-color: yellow;
}

.modalSe {
	width: 350px;
	height: auto;
	background-color: green;
}

#modese {
	display: none;
}

#moded {
	display: none;
}


textarea {
	height: 200px;
	width: 200px;
}