{% extends "index.html" %}


{% block header %}
	{% if login == "loggedin" or login == "loginsea" or login == "loginsha" or login == "loginarch" %}
		<div class="nav">
				<h1><a href="/home">Task Manager</a></h1>
				<h3 id="he_name">{{ session['user'] }}</h3>
				{% if not pic %}
					<img src="../static/userDefault.png" onclick="editImg()">
				{% elif pic %}
					<img src="#">
				{% endif %}
			</div>
			<div class="admin">
				<form method="GET" action="/logOut">
					<button id="b" type="submit" value="logout"><h3>Logout</h3></button>
				</form>
			</div>
	{% endif %}
{% endblock %}

{% block content %}

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
   				{% for category, message in messages %}
       				{% if category == "error" %}
        				<div class="error">
        			{% else %}
        				<div class="error good">
        			{% endif %}
							<h1>{{ message }}</h1>        				
        				</div>
   				{% endfor %}
			{% endif %}
		{% endwith %}

	<div class="evsacts">
		<h3 onclick="createEve()">Create Event</h3>
		<h3><a href="/show_archive">Archive</a></h3>
		<h3><a href="/show_shared_with">Shared With Me</a></h3>
		<div id="sear">
			<h3>Search Event:</h3>
			<form method="POST" action="/show_main">
				<input type="text" name="search" placeholder="Event Name">
				<button type="submit" name="search">Search</button>
			</form>
		</div>
	</div>
	
	{% if login == "loggedin" or login == "loginsea" or login == "loginsha" or login == "loginarch"  %}
		
		{% if login == "loggedin" %}
			<h2>MAIN TASKS</h2>
		{% endif %}
		{% if login == "loginsea" %}
			<h2>SEARCHED TASKS</h2>
		{% endif %}
		{% if login == "loginarch" %}
			<h2>ARCHIVED TASKS</h2>
		{% endif %}
		{% if login == "loginsha" %}
			<h2>TASKS SHARED WITH ME</h2>
		{% endif %}
		
		
		{% for i in events %}
		<div class="event">
			<h2 class="evName">{{ i[0] }}</h2>
			<h3 class="evDate">{{ i[1] }}
				{% if i[2] != "All Day" %}
					At
				{% endif %}
					{{ i[2] }}
			</h3>
			<h3 class="evDetails">{{ i[3] }}</h3>
			{% if login == "loginsha" %}
			<h3 class="evDate">From {{ i[4] }}</h3>
			{% endif %}

			{% if login == "loggedin" or login == "loginsea" %}
				<button class="evButton" type="submit" name="edit" onclick="getOldDetails({{ [i[0], i[1], i[2], i[3], name, login] }})">Edit</button>
	
				<form method="POST" action="/deleteEvent">
					<button class="evButton" type="submit" name="delete" value="{{ i[0], i[1], i[2], i[3], session['user'], session['state'] }}">Delete</button>
				</form>
				
				<form method="POST" action="/archive_event">
					<button class="evButton" type="submit" name="archive" value="{{ i[0], i[1], i[2], i[3], name, login }}">Archive</button>
				</form>
				
				<button class="evButton" type="submit" name="share" onclick="shareWithDetails({{ [i[0], i[1], i[2], i[3], session['user'], session['state']] }})">Share</button>	
			{% endif %}
			
			{% if login == "loginarch" %}
				<form method="POST" action="/deleteEvent">
					<button class="evButton" type="submit" name="delete" value="{{ i[0], i[1], i[2], i[3], session['user'], session['state'] }}">Delete</button>
				</form>
			{% endif %}
			
			{% if login == "loginsha" %}
				<form method="POST" action="/deleteEvent">
					<button class="evButton" type="submit" name="delete" value="{{ i[0], i[1], i[2], i[3], session['user'], session['state'], i[4]  }}">Delete</button>
				</form>
			{% endif %}
			
		</div>
		{% endfor %}
	{% endif %}
	
{% endblock %}

{% block footer %}
	<div class="footerL">
		<h3><a href="/home">Contact Us</a></h3>
		<h3><a href="/home">Feedback</a></h3>
		<h3><a href="/home">About</a></h3>
	</div>
	<div class="footerR">
		<h3><a href="/home">Privacy Policy</a></h3>
		<h3><a href="/home">Terms of Service</a></h3>
		<h3><a href="/home">Merchant Agreement</a></h3>
	</div>
{% endblock %}