{% extends "index.html" %}

{% block header %}
	{% if login == "loggedin" or login == "loginsea" or login == "loginsha" or login == "loginarch" %}
		<div class="nav">
			<h1><a href="/show_main">Event Organiser</a></h1>
			<h3 onclick="createEve()">Create
				Event</h3>
			<h3><a href="/show_archive">Archive</a></h3>
			<h3><a href="/show_shared_with">Shared WITH Me</a></h3>
			<div id="sear">
			<h3>Search Event</h3>
			<form method="GET" action="/searchEvent">
				<input type="text" name="search" placeholder="Event Name">
				<button type="submit" name="sea_deta" value="{{ name }}">Search</button>
			</form>
			</div>
		</div>
		<div class="adr">
			<form method="GET" action="/logOut" enctype="multipart/form-data">
				<button type="submit" value="logout">Logout</button>
			</form>
		</div>
	{% else %}
		<div class="adl">
			<form method="POST" action="/signUp" enctype="multipart/form-data">
				<input type="text" value="miguel" name="signName" id="signName" runat="server">
				<input type="text" value="12345" name="signPass" id="signPass" runat="server">
				<button type="submit" value="singUp">Signup</button>
			</form>
		</div>
		<div class="adr">
			<form method="POST" action="/logIn" enctype="multipart/form-data">
				<input type="text" value="miguel" name="logName" id="logName" runat="server">
				<input type="text" value="12345" name="logPass" id="logPass" runat="server">
				<button type="submit" value="logIn">Login</button>
			</form>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	
	{% if login == "loggedin" or login == "loginsea" or login == "loginsha" or login == "loginarch"  %}
		<h1>WELCOME {{name}}, YOU ARE NOW LOGGED IN</h1>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
   				{% for message in messages %}
       				<h1>{{ message }}</h1>
   				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% if login == "loggedin" %}
			<h1>MAIN EVENTS PAGE</h1>
		{% endif %}
		
		{% if login == "loginsea" %}
			<h1>SEARCHED EVENTS</h1>
		{% endif %}
		{% if login == "loginarch" %}
			<h1>ARCHIVE</h1>
		{% endif %}
		{% if login == "loginsha" %}
			<h1>SHARED WITH ME</h1>
		{% endif %}
		
		
		{% for i in events %}
		<div class="event">
			
			{% if login == "loggedin" or login == "loginsea" %}
			<button type="submit" name="edit" onclick="getOldDetails({{ [i[0], i[1], i[2], name, login] }})">Edit</button>

			<form method="POST" action="/deleteEvent" enctype="multipart/form-data">
				<button type="submit" name="delete" value="{{ i[0], i[1], i[2], name, login }}">Delete</button>
			</form>
			
			<form method="POST" action="/archive_event" enctype="multipart/form-data">
				<button type="submit" name="archive" value="{{ i[0], i[1], i[2], name, login }}">Archive</button>
			</form>
			<button type="submit" name="share" onclick="shareWithDetails({{ [i[0], i[1], i[2], name, login] }})">Share</button>

			{% endif %}
			{% if login == "loginarch" %}
				<form method="POST" action="/deleteEvent" enctype="multipart/form-data">
					<button type="submit" name="delete" value="{{ i[0], i[1], i[2], name, login }}">Delete</button>
				</form>
			{% endif %}
			
			{% if login == "loginsha" %}
				<form method="POST" action="/deleteEvent" enctype="multipart/form-data">
					<button type="submit" name="delete" value="{{ i[0], i[1], i[2], name, login, i[3] }}">Delete</button>
				</form>
			{% endif %}
			
			<hr>
			<h2>{{ i[0] }}</h2>
			<hr>
			<h2>WHEN:</h2>
			<p>{{ i[1] }}</p>
			<hr>
			<h2>COMMENTS:</h2>
			<p>{{ i[2] }}</p>
			{% if login == "loginsha" %}
			<hr>
			<h2>FROM</h2>
			<p>{{ i[3] }}</p>
			{% endif %}
			
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}