<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TASK ORGANISER</title>
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/modalStyle.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
        // Set-up connection variable between JS and Flask server application
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>

<body>
	<header>
		{% block header %}
			<div class="nav">
				<h1><a href="/">Task Organiser</a></h1>
			</div>
			<div class="admin">
				<h3 onclick="openMod('up')">Sign Up</h3>
				<h3 onclick="openMod('in')">Log In</h3>
			</div>	
		{% endblock %}		
	</header>
	
	
	<main>	
		{% block content %}
			{% with messages = get_flashed_messages(with_categories=true) %}
    			{% if messages %}
        			{% for category, message in messages %}
        				{% if category == "error" %}
        					<div class="error">
        				{% else %}
        					<div class="error good">
        				{% endif %}
								<h1>{{ message }}</h1>        				
        					</div>
        			{% endfor %}
    			{% endif %}
			{% endwith %}
		
		<div class="main">
			<div class="pic">
				<img src="../static/index.png">
			</div>
			<div class="points">
				<ul>
					<li><h2>Create and Add Tasks</h2><span class="tick">&#10003;</span></li>
					<li><h2>Amend Your Tasks</h2><span class="tick">&#10003;</span></li>
					<li><h2>Share Your Tasks with Friends or Family</h2><span class="tick">&#10003;</span></li>
					<li><h2>Archive Your Tasks</h2><span class="tick">&#10003;</span></li>
				</ul>
			</div>
		</div>
		<div class="main otherColor">
			<div class="points">
				<ul id="ul">
					<li><h2>Create and Add Tasks</h2><span class="tick">&#10003;</span></li>
					<li><h2>Amend Your Tasks</h2><span class="tick">&#10003;</span></li>
					<li><h2>Share Your Tasks with Friends or Family</h2><span class="tick">&#10003;</span></li>
					<li><h2>Archive Your Tasks</h2><span class="tick">&#10003;</span></li>
				</ul>
			</div>
			<div class="pic2">
				<img src="../static/index.png">
			</div>
		</div>
		{% endblock %}
	</main>

	<footer>
		<h2>Event Organiser</h2>
	</footer>
</body>

<div id="myModal" class="modal">
  <!-- Modal content -->
	<div class="sign">
		<div class="signtop">
			<h2 id="sign">Sign Up</h2>
		</div>
		<form id="form" method="POST" action="/signUp">
			<h3>User Name:</h3>
			<input id="modU" type="text" placeholder="User Name" name="upName" required>
			<h3>Password:</h3>
			<input id="modP" type="password" placeholder="Password" name="upPass" required>
			<button id="formbut" type="submit" value="singUp">Sign Up</button>
			<span class="close">&times;</span>
		</form>
	</div>
</div>

<!-- Modal for creating events -->
<div id="creMod" class="modal">
	<div class="modalTop">
		<h2>Create Task</h2>
		<form method="POST" action="/createEvent" enctype="multipart/form-data">
			<h3>Task Name:</h3>
			<input type="text" name="name" placeholder="Task Name" required> 
			<h3>Task Date:</h3> 
			<input type="date" name="date" required>
			<h3>Task Time:</h3>
			<input id="time" type="time" name="time" value="00:00">
			<input id="radSpe" type="radio" name="isTime" value="Specific" checked> Specific Time
			<input id="radAll" type="radio" name="isTime" value="AllDay"> All day
			<h3>Task Comments:</h3>
			<textarea name="desc" maxlength=150 required></textarea> 
			<input type="hidden" id="cre_event" name="cre_event" value="{{ name, login }}">
			<button type="submit" value="Submit">Create</button>
			<span id="creClsBt">&times;</span>
		</form>
	</div>
</div>

<!-- Modal for editing main screen events -->
<div id="edMod" class="modal">	
	<div class="modalEdit">
		<h2>Edit Task</h2>
		<form method="POST" action="/edit_event" enctype="multipart/form-data">
			<h3>Task Name:</h3>
			<input type="text" id="edName" name="edName"> 
			<h3>Task Date:</h3>
			<input type="text" id="edDate" name="edDate">
			<h3>Task Time:</h3>
			<input id="edTime" type="time" name="edTime" value="00:00">
			<input id="edRadSpe" type="radio" name="edIsTime" value="Specific" checked> Specific Time
			<input id="edRadAll" type="radio" name="edIsTime" value="AllDay"> All day
			<h3>Task Description:</h3>
			<textarea id="edDesc" name="edDesc"></textarea> 
			<input type="hidden" id="ed_event" name="ed_event" value="">
			<button type="submit" value="Submit">Edit</button>
			<span id="edClsBt">&times;</span>
		</form>
	</div>
</div>

<!-- Modal for sharing event -->
<div id="shaMod" class="modal">
	<div class="modalSh">
		<h2>Share Task</h2>
		<form style="display:inline-block" method="POST" action="/share_with">
			<h3>Share Task With:</h3>
			<input type="text" name="shareName"> 
			<input type="hidden" id="sha_event" name="sha_event" value="">
			<button type="submit" value="Submit">Submit</button>
			<span id="shClsBt">&times;</span>
		</form>
	</div>
</div>


<script src="../static/events.js"></script>

</html>
