<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TASK ORGANISER</title>
<link rel="stylesheet" href="../static/CSS/style.css">
<link rel="stylesheet" href="../static/CSS/modalStyle.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
        // Set-up connection variable between JS and Flask server application
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>

<body>
	<header>
		{% block header %}
			<div class="nav">
				<h1><a href="/">Task Organiser</a></h1>
			</div>
			<div class="admin">
				<h3 id="signup" onclick="openMod('up')">Sign Up</h3>
				<h3 id="signin" onclick="openMod('in')">Sign In</h3>
			</div>	
		{% endblock %}		
	</header>
	<!-- Modal for creating events -->
	<div id="modal" class="modalTop">
		<form method="POST" action="/createEvent" enctype="multipart/form-data">
			EVENT NAME:<br>
			<input type="text" name="name" placeholder="Event Name" required> 
			<br> 
			EVENT DATE:<br> 
			<input type="text" name="date" placeholder="When" required>
			<br>
			EVENT DESCRIPTION:<br>
			<textarea name="desc" required></textarea> 
			<br><br> 
			<input type="hidden" id="cre_event" name="cre_event" value="{{ name, login }}">
			<button type="submit" value="Submit">Submit</button>
		</form>
		<button onclick="document.getElementById('modal').style.display='none'">close</button>
	</div>
	
	<!-- Modal for editing main screen events -->	
	<div id="moded" class="modalEdit">
		<form method="POST" action="/edit_event" enctype="multipart/form-data">
			EVENT NAME:<br>
			<input type="text" id="edName" name="edName"> 
			<br> 
			EVENT DATE:<br> 
			<input type="text" id="edDate" name="edDate">
			<br>
			EVENT DESCRIPTION:<br>
			<textarea id="edDesc" name="edDesc"></textarea> 
			<br><br> 
			<input type="hidden" id="ed_event" name="ed_event" value="">
			<button type="submit" value="Submit">Submit</button>
		</form>
		<button onclick="document.getElementById('moded').style.display='none'">close</button>
	</div>
	
	<!-- Modal for sharing event -->
	<div id="share" class="modalSh">
		<form style="display:inline-block" method="POST" action="/share_with">
			SHARE WITH?:<br>
			<input type="text" name="shareName"> 
			<br> 
			<br>
			<input type="hidden" id="sha_event" name="sha_event" value="">
			<button type="submit" value="Submit">Submit</button>
		</form>
		<button onclick="document.getElementById('share').style.display='none'">close</button>
	</div>

	<main>	
		{% block content %}
			{% with messages = get_flashed_messages(with_categories=true) %}
    			{% if messages %}
        			{% for category, message in messages %}
        				{% if category == "error" %}
        					<div class="error">
        				{% else %}
        					<div class="error good">
        				{% endif %}
								<h1>{{ message }}</h1>        				
        					</div>
        			{% endfor %}
    			{% endif %}
			{% endwith %}
		{% endblock %}
		<div class="main">
			<div class="pic">
				<img src="../static/index.png">
			</div>
			<div class="points">
				<ul>
					<li><h2>Create and Add Tasks <span class="tick">&#10003;</span></h2></li>
					<li><h2>Amend Your Tasks <span class="tick">&#10003;</span></h2></li>
					<li><h2>Share Your Tasks with Friends or Family <span class="tick">&#10003;</span></h2></li>
					<li><h2>Archive Your Tasks <span class="tick">&#10003;</span></h2></li>
				</ul>
			</div>
		</div>
		<div class="main otherColor">
			<div class="points">
				<ul id="ul">
					<li><h2>Create and Add Tasks <span class="tick">&#10003;</span></h2></li>
					<li><h2>Amend Your Tasks <span class="tick">&#10003;</span></h2></li>
					<li><h2>Share Your Tasks with Friends or Family <span class="tick">&#10003;</span></h2></li>
					<li><h2>Archive Your Tasks <span class="tick">&#10003;</span></h2></li>
				</ul>
			</div>
			<div class="pic2">
				<img src="../static/index.png">
			</div>
		</div>
	</main>

	<footer>
		<h2>Event Organiser</h2>
	</footer>
</body>

<div id="myModal" class="modal">
  <!-- Modal content -->
	<div class="sign">
		<div class="signtop">
			<h2 id="sign">Sign Up</h2>
		</div>
		<form id="form" method="POST" action="/signUp">
			<h3>User Name:</h3>
			<input id="modU" type="text" placeholder="User Name" name="upName" required>
			<h3>Password</h3>
			<input id="modP" type="password" placeholder="Password" name="upPass" required>
			<button id="formbut" type="submit" value="singUp">Sign Up</button>
			<span class="close">&times;</span>
		</form>
	</div>
</div>

<script src="../static/JS/modals.js"></script>
<script src="../static/JS/events.js"></script>

</html>
