<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>EVENT ORGANISER</title>
<link rel="stylesheet" href="../static/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
        // Set-up connection variable between JS and Flask server application
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>

<body>

	<header>
		<h1>Event Organiser</h1>
		<h3 onclick="document.getElementById('modal').style.display='block'">Create
			Event</h3>
		<h3>Search Event</h3>
	</header>
	<div id="modal" class="modalTop">
		<form>
			EVENT NAME:<br>
			<input type="text" id="Name" value="Shopping" runat="server"> 
			<br> 
			EVENT DATE:<br> 
			<input type="text" id="Date" value="Tomorrow" runat="server">
			<br>
			EVENT DESCRIPTION:<br>
			<textarea id="Desc" runat="server"></textarea> 
			<br><br> 
			<button type="submit" value="Submit" onclick="creEv()">Submit</button>
		</form>
		<button onclick="document.getElementById('modal').style.display='none'">close</button>
	</div>

	<main> 

	{% if eveLen == 0 %}
	
	<h1>NO EVENTS - Please click on create event to add event</h1>
	
	{% else %}
	
	<h1>EVENTS</h1>
	{% for i in range(0, eveLen) %}
	<div class="event">
	<button type="submit" value="Edit" onclick="editEv({{ i }})">Edit</button>
	<form>
	<button type="submit" value="Delete" onclick="delEv({{ i }})">Delete</button>
	</form>
	<h2>{{ events["events"][i]["name"] }}</h2>
	<h2>{{ events["events"][i]["date"] }}</h2>
	<p>{{ events["events"][i]["desc"] }}</p>
	
	</div>
	
	{% endfor %}	
	
	{% endif %} 
	</main>

	<footer>
		<h2>Event Organiser</h2>
	</footer>


</body>
	
<div id="moded" class="modalEdit">
	<form>
		EVENT NAME:<br>
		<input type="text" id="edName" runat="server"> 
		<br> 
		EVENT DATE:<br> 
		<input type="text" id="edDate" runat="server">
		<br>
		EVENT DESCRIPTION:<br>
		<textarea id="edDesc" runat="server"></textarea> 
		<br><br> 
		<button type="submit" value="Submit" onclick="edFrontEv()">Submit</button>
	</form>
	<button onclick="document.getElementById('moded').style.display='none'">close</button>
</div>

<script src="../static/events.js"></script>

</html>